<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-5 {% if page.url != '/'%} shadow mb-5 rounded{% endif %}">
  <div class="container-fluid w-75">
	<a href="#" class="navbar-brand">
		<img src="/assets/images/logo.png" alt="" style="width: 250px;">
	</a>
      <ul class="navbar-nav">
			{% for item in site.data.navigation %}
				<li class="nav-item">
					<a href="{{ item.link }}" class="nav-link text-uppercase {% if page.url == item.link %}active{% endif %}">
						{{ item.name }}
					</a>
				</li>
			{% endfor %}
      </ul>
  </div>
</nav>
