#carousel-section {
	// border-top: 2px solid $main-color;
	.carousel-item {
		height: 80vh;
		img {
		    object-fit: fill;
		    position: absolute;
		    left: 0;
		    top: 0;
		    z-index: 0;
		}
	}

}

#home-banner {
	height: 80vh;
	background: url('../images/bg-img-new3.png') no-repeat center center / cover;
	p {
		color: white;
	}
	p:first-child {
		font-size: 40px;
	}
	p:nth-child(2) {
		font-size: 100px;
		font-family: 'Poppins-Bold';
		letter-spacing: 5px;
	}
	p:nth-child(3) {
		font-size: 20px;
	}
	a {
		background: linear-gradient(90deg, rgba(133,76,7,1) 0%, rgba(255,158,0,1) 100%);
		font-family: 'Poppins-Bold';
		padding: 15px 25px;
		border-radius: 3px;
		color: rgb(0,0,0);
		font-weight: 700;
		letter-spacing: 2px;
		font-size: 12px;
	}
	a:hover {
		color: white;
	}
}

#about-us {
	background: black;
	color: white;
	padding: 40px 0;
	.container {
		.box-container {
			.box {
				width: 30%;
				i {
					margin-bottom: 20px;
				}
				h3 {
					font-size: 18px;
					font-family: 'Poppins-Bold';
					letter-spacing: 2px;
					margin-bottom: 20px;
				}
				p {
					font-size: 16px;
				}
			}
		}
	}
}

#areas-section {
	.container {
		.areas-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr); 
			grid-gap: 20px;
			.area-box {
				border-radius: 15px;
				background: red;
				height: 300px;
				display: flex;
				align-items: center;
				justify-content: center;
				.btn {

					width: 250px;
					border: 2px solid white;
					padding: 10px 10px;
					color: white;
					font-size: 22px;
					text-transform: uppercase;
					font-weight: bold;
				}
			}
			.area-prev {
				background: url('/assets/images/prev.jpeg') no-repeat center top / cover;
				box-shadow: inset 0 0 0 1000px rgba(232,232,0,.5);
			}

			.area-civel {
				background: url('/assets/images/civel.jpg') no-repeat center center / cover;
				box-shadow: inset 0 0 0 1000px rgba(0, 70, 220, .5);
			}			
			.area-trab {
				background: url('/assets/images/trab.jpg') no-repeat center center / cover;
				box-shadow: inset 0 0 0 1000px rgba(220, 0, 0, .5);
			}
			.area-imob {
				background: url('/assets/images/imob.jpg') no-repeat right bottom / cover;
				box-shadow: inset 0 0 0 1000px rgba(0, 220, 23, .5);
			}
		}
	}
}

@media (max-width: 800px) {
	#areas-section {
		.container {
			.areas-container {
				.area-box {
					height: 200px;
					.btn {
						width: 200px;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	#carousel-section {
		display: none;
	}
	#areas-section {
		.container {
			width: 80%;
			.areas-container {
				grid-template-columns: repeat(1, 1fr); 
				.area-box {
					height: 200px;
					.btn {
						width: 250px;
					}
				}
			}
		}
	}	
}