$main-color: rgb(133,76,7);
@import 'navbar';
@import 'sidebar';
@import 'index';
@import 'about';
@import 'areas';
@import 'contact';
@import 'footer';
@import 'utility';

@font-face {
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
	font-family: 'Poppins-Medium';
	src: url('../fonts/Poppins-Medium.ttf');
}
@font-face {
	font-family: 'Poppins-Bold';
	src: url('../fonts/Poppins-Bold.ttf');
}
@font-face {
	font-family: 'Kiona-Regular';
	src: url('../fonts/Kiona-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%; 
	overflow: hidden;
}

body {
	overflow: auto; 
	-webkit-overflow-scrolling: touch;
	font-family: 'Poppins-Regular';
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

@media (max-width: 1000px) {
	.row {
		.main {
			margin: 0 auto;
			width: 100%;
		}
		.sidebar {
			display: none;
		}
		
	}
}