.active {
	color: $main-color !important;
}

.whatsapp-button {
	z-index: 1000;
	padding: 12px 15px; 
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: #25D366;
	border-radius: 50%;
	i {
		color: white;
	}
}